@tailwind base;

@tailwind components;

@tailwind utilities;

.customButton： {
    position: relative;
    display: inline-block;
    text-align: center;
}

.custom-underline:active, .custom-underline:focus, .custom-underline:hover {
    position: relative;
    display: inline-block;
    text-align: center;
}

.bg-mulgrave-orange {
    --tw-bg-opacity: 1;
    background-color: rgba(248,97,34,var(--tw-bg-opacity));
}

.text-regular {
    font-size: 4rem;
    line-height: 4.25rem;
}

.text-xlarge {
    font-size: 10rem;
    line-height: 10.25rem;
}

.text-regularView-xlarge {
    font-size: 5rem;
    line-height: 5.25rem;
}

.text-regularView-regular {
    font-size: 2.5rem;
    line-height: 2.75rem;
}